# dependencies
node_modules/

# build output
.next/
out/
output/

# local environment files
.env.local
.env*.local

# TypeScript incremental build info
*.tsbuildinfo

# misc OS/editor files
.DS_Store
Thumbs.db

.vercel
